.infoform {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 1rem;
}

label {
    margin-top: 1rem;
    align-self: flex-start;
}

input {
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 0.25rem;
    outline: none;
}

button {
    cursor: pointer;
    align-self: flex-end;
    padding: 0.5rem;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
}

.errorMsg {
    max-width: 100%;
    font-size: 0.75rem;
    color: rgb(248, 106, 106);
}

.form-container {
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.submit-button {
    opacity: 0.5;
    background-color: rgb(104, 187, 255);
    cursor: not-allowed;
}

.submit-button.active {
    opacity: 1;
    font-weight: bold;
    background-color: rgb(7, 140, 248);
    cursor: pointer;
}

.name-fields,
.password-fields,
.birthdate-language-fields {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.name-field,
.password-field,
.birthdate-field,
.language-field {
    flex: 1;
}

input[type='text'],
input[type='email'],
input[type='date'],
input[type='password'],
select {
    width: 100%;
}


.errorMsg {
    color: red;
    font-size: 12px;
}
